POSTGRES_HOST=localhost
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_pass
POSTGRES_DB=aggregator_db
POSTGRES_PORT=5432
EVENT_PROVIDER_URL=http://events-provider.dev-2.python-labs.ru
LMS_API_KEY=change_me
SYNC_CRON=0 3 * * *
PAGE_SIZE=20
SEATS_CACHE_TTL=30
