DATABASE_URL=postgresql+asyncpg://aggregator:aggregator@localhost:5432/aggregator
PROVIDER_BASE_URL=http://events-provider.dev-2.python-labs.ru
PROVIDER_API_KEY=change_me
SYNC_CRON=0 3 * * *
PAGE_SIZE=20
