POSTGRES_CONNECTION_STRING=
POSTGRES_HOST=localhost
POSTGRES_USERNAME=postgres_user
POSTGRES_PASSWORD=postgres_pass
POSTGRES_DATABASE_NAME=aggregator_db
POSTGRES_PORT=5432
EVENT_PROVIDER_URL=
LMS_API_KEY=change_me
SYNC_CRON=0 3 * * *
PAGE_SIZE=20
SEATS_CACHE_TTL=30
